[submodule "workspace/vendor/unitree_mujoco"]
	path = workspace/vendor/unitree_mujoco
	url = https://github.com/Adyansh04/unitree_mujoco.git
	branch = grove
	shallow = true
[submodule "workspace/src/livox_ros_driver2"]
	path = workspace/src/livox_ros_driver2
	url = https://github.com/Adyansh04/livox_ros_driver2.git
	branch = grove
[submodule "workspace/src/fast_lio_humanoid"]
	path = workspace/src/fast_lio_humanoid
	url = https://github.com/Adyansh04/FAST_LIO_LOCALIZATION_HUMANOID.git
	branch = grove
[submodule "workspace/src/canopy"]
	path = workspace/src/canopy
	url = https://github.com/Adyansh04/canopy.git
	branch = main
[submodule "workspace/src/nervros"]
	path = workspace/src/nervros
	url = https://github.com/Adyansh04/nervros.git
	branch = main
